.container-box-list {
    display: flex;
    flex-direction: column;
}

.container-box-list-within-padding ul li button{
    display: flex;
    flex-direction: column;
    padding-bottom: 0px !important;
}

.container-box-list ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 15px;
    margin-top:  15px;
    margin-bottom: 0px;
}

.container-box-list ul li{
    margin-bottom: 15px;
    margin-left: 15.5px;
    width: 32%;
}

.box-list-div-image {
    overflow: hidden;
    height: 125px;
    width: 100%;
    transition: color .8s;
}

.box-list-div-image img{
    margin: 20px 2%;
    border: 4px currentColor solid;
    height: 85px;
}

.box-list-div-class-image {
    background-size: cover;
    height: 100%;
}

.container-box-list ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-box-list ul li button {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-style: none;
    min-height: 100%;
    text-align: start;
    padding-bottom: 20px;
    background-color: whitesmoke;
    justify-content: space-between;
    transition: background-color .8s, box-shadow .8s;
}

.container-box-list ul li button div div {
    color: currentColor;
    transition: color .8s;
}

.container-box-list ul li button:hover {
    transition: background-color .8s, box-shadow .8s;
    background-color: currentColor;
}

.container-box-list ul li button:hover div div {
    color: currentColor;
}

.container-box-list ul li button:hover h3{
    color: currentColor;
}

.container-box-list ul li button:hover h4{
    color: rgb(224, 224, 224);
}

.container-box-list ul li button:hover div {
    color: white;
}

.container-box-list-red ul li button:hover {
    transition: background-color .8s, box-shadow .8s;
    background-color: rgb(180, 70, 70);
}

.repos-div-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.commits-limit-session {
    display: flex;
    color: white;
    background-color: transparent;
    margin: 10px 0px;
}

.commits-limit-session h1{
    background-color: rgb(98, 167, 224);
    text-align: center;
    font-size: 125%;
    padding: 8px 10px 6px 10px;
}

.commits-limit-session p{
    background-color: steelblue;
    color: white;
    text-align: center;
    font-size: 120%;
    padding: 8px 10px 6px 10px;
    font-weight: 600;
    margin-right: 10px;
}

.commits-limit-session button{
    background-color: steelblue;
    color: white;
    border: none;
    text-align: center;
    font-size: 120%;
    padding: 8px 10px 6px 10px;
    font-weight: 600;
}

.commits-limit-session button:hover {
    background-color: whitesmoke;
    color: steelblue;
}

.commits-limit-session-button-selected {
    background-color: whitesmoke !important;
    color: steelblue !important;
}

.commits-limit-session button:last-of-type {
    margin-right: 10px;
}

.commits-limit-session-query {
    display: flex;
    color: white;
    background-color: transparent;
    margin: 10px 0px;
}

.commits-limit-session-query button{
    background-color: steelblue;
    color: white;
    border: none;
    text-align: center;
    font-size: 120%;
    padding: 8px 10px 6px 10px;
    font-weight: 600;
}

.commits-limit-session-query button:hover {
    background-color: whitesmoke;
    color: steelblue;
}

.commits-limit-session-query input{
    background-color: steelblue;
    color: white;
    border: none;
    text-align: center;
    font-size: 120%;
    padding: 8px 10px 6px 10px;
    font-weight: 600;
}

.commits-limit-session-query input:hover {
    background-color: whitesmoke;
    color: steelblue;
}

.commits-limit-session-query input:focus {
    background-color: whitesmoke;
    color: steelblue;
}

.commits-limit-session-query button:first-of-type {
    margin-right: 10px;
}

.table-page-control-div-repos-query {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.table-page-control-div-repos-query input {
    padding: 9px 10px 6px 10px !important;
}

.table-page-control-div-repos-query button{
    margin-right: 0px !important;
    padding: 8px 8px 4px 8px !important;
}

.table-page-control-div-repos-query button:hover{
    color: steelblue !important;
}


.repos-name {
    text-transform: capitalize;
    font-size: 25px;
    margin: 20px 20px 0px 20px;
    color: steelblue;
}

.repos-name-red {
    text-transform: capitalize;
    font-size: 25px;
    margin: 20px 20px 0px 20px;
    color: rgb(180, 70, 70);
}

.repos-description {
    font-size: 15px;
    text-align: justify;
    margin: 2px 20px 0px 20px;
    color: rgb(1, 53, 95);
}

.repos-description-red {
    font-size: 15px;
    text-align: justify;
    margin: 2px 20px 0px 20px;
    color: rgb(95, 1, 1);
}

.repos-div-language {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 20px 0px 20px;
}

.repos-language {
    font-size: 15px;
    text-align: start;
    margin-left: 5px;
}

.repos-button-reload {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    color: white;
    margin-top: 20px !important;
    background-color: rgb(98, 167, 224) !important;
    height: 30px !important;
    width: 100% !important;
    transition: background-color .8s;
}

.repos-button-reload:hover {
    background-color: rgb(48, 111, 163) !important;
}

.repos-button-reload svg{
    margin-right: 10px;
}

.repos-button-reload:hover svg{
    animation: rotate 5s linear infinite;
}

.class-info-content {
    margin-bottom: 20px;
}

.class-info-display {
    justify-content: flex-start !important;
}

.class-info-content h3 {
    text-transform: capitalize;
    font-size: 25px;
    margin: 20px 20px 0px 20px;
    color: currentColor;
}

.class-info-content h4 {
    font-size: 15px;
    text-align: justify;
    margin: 2px 20px 0px 20px;
    font-weight: 400;
    color: currentColor;
}

.container-box-item-create {
    display: flex;
    color: white;
    background-color: transparent;
    margin: 10px 0px;
}

.container-box-item-create form {
    margin-right: 10px;
}

.container-box-item-create form input {
    font-size: 125%;
    padding: 6px 8px 4px 8px;
    border: steelblue 2px solid;
}

.container-box-item-create form input::placeholder {
    color: steelblue;
}

.container-box-item-create form button {
    font-weight: bold;
    border: steelblue 2px solid;
    font-size: 125%;
    padding: 6px 8px 4px 8px;
    border-left: none;
    background-color: steelblue;
    color: white;
    transition: color .8s, background-color .8s, border-color .8s;
}

.container-box-item-create form button:hover {
    background-color: white;
    color: steelblue;
    border: steelblue 2px solid;
    border-left: none;
}

.container-box-item-create a {
    text-decoration: none;
    color: white;
    background-color: steelblue;
    transition: color .8s, background-color .8s, border-color .8s;
}

.container-box-item-create a:hover {
    background-color: white;
    color: steelblue;
    border: steelblue 2px solid;
}

.container-box-item-create a h1 {
    font-size: 125%;
    padding: 8px 10px 6px 10px;
}

.container-box-item-create a:hover h1{
    padding: 6px 8px 4px 8px;
}

.remove-box-list-padding {
    margin: 0px !important;
}

.remove-box-list-padding li{
    margin: 0px !important;
}

.remove-color-transition {
    transition: color 0s !important;
}

.ul-box-list-preview li{
    margin-right: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}