.class-profile-banner {
    background-size: cover;
    width: 100%;
    height: 25vh;
}

.class-profile {
    border: currentColor solid 2px;
    height: 43vh;
    width: 100%;
}

.class-profile-banner-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 18vh;
}

.class-profile-banner-info div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.class-profile-banner-info div h1 {
    margin-top: 16px;
}

.class-profile-banner-info div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
}

.class-profile-banner-info div div h4{
    margin-left: 5px;
    color: white;
    padding: 3px;
    opacity: 0.8;
    cursor: pointer;
}

.class-profile-banner-info div div h4:hover {
    opacity: 1;
}

.class-profile-banner-info div div h4:first-of-type {
    margin-left: 0px;
    color: white;
    padding: 3px;
    opacity: 1;
    cursor: default;
}

.class-profile-banner-info div div button {
    border: none;
    margin-left: 5px;
}

.class-profile-banner-info img {
    margin: 15px 2%;
    border: 4px currentColor solid;
    height: 85px;
    width: 85px;
}

.class-profile-banner-info-description {
    overflow-y: scroll;
    width: 100%;
    border: currentColor solid 2px;
    margin-top: 7px;
    max-height: 48vh;
}

.class-profile-banner-info-description p {
    text-align: justify;
    padding: 8px;
    font-size: 120%;
}

.class-profile-area {
    border-left: 2px currentColor solid !important;
    height: 92vh;
    margin: 0px 10px;
}

.class-profile-area ul {
    list-style-type: none !important;
    display: flex;
    flex-direction: row;
    background-color: currentColor;
}

.class-profile-area ul li {
    color: white !important;
}

.class-profile-area ul li button {
    color: white !important;
    background-color: transparent !important;
    border: none;
    font-size: 23px;
    padding: 10px 25px;
}

.classses-info-block-item {
    background-color: currentColor;
    display: flex;
    flex-direction: row;
    width: 150%;
    height: 56px;
    margin: 8px;
    transition: width .5s, margin-left .5s, box-shadow .5s;
}

.classses-info-block-item div img {
    height: 56px;
}

.classses-info-block-item .block-item-text {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.classses-info-block-item div h1 {
    font-size: 135%;
}

.classses-info-block-item div h2 {
    font-size: 100%;
    font-weight: 300;
}

.classses-info-block-item:hover {
    cursor: pointer;
    margin-left: 15px;
    width: 155%;
}

.classses-info-block-item:hover .block-item-text{
    background-color: transparent;
    color: white;
}