.div-introduction-title h1{
    font-size: 200%;
    margin-top: 0 !important;
    text-align: start !important;
}

.div-introduction-title h2{
    margin-bottom: 35px;
    margin-right: 100px;
    text-align: justify !important;
    margin-top: 2px;
    font-size: 125%;
    font-weight: 500;
}

.div-introduction-title-normal h2 {
    margin-bottom: 0px;
    font-weight: 500;
}

.div-introduction-title h3{
    text-align: justify;
    margin-left: 25px;
    margin-top: 15px;
    color: black;
    max-width: 75vw;
    font-size: 19px;
}

.div-alt {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.alt-login-container {
    display: inline-block;
    align-items: center;
    margin-right: 10px;
    border: steelblue 2px solid;
    box-shadow: black;
}

.alt-login-container button, .alt-login-container a{
    border-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 12px;
    text-decoration: none;
    background-color: white;
    color: steelblue;
}

.alt-login-container:hover button, .alt-login-container:hover a{
    background-color: steelblue;
    color: white;
}

.alt-login-container h3{
    margin-left: 8px;
    font-size: 22px;
}

.no-icon h3 {
    margin-left: 0px;
}

.alt-login-container .no-margin-lef-h3 {
    margin-left: 0px;
    font-size: 22px;
}

.git {
    border: black 2px solid;
}

.git button, .git a{
    color: black;
}

.git:hover button, .git:hover a{
    background-color: black;
    color: white;
}

.enter {
    border: steelblue 2px solid;
}

.enter button, .enter a{
    color: steelblue;
}

.enter:hover button, .enter:hover a{
    background-color: steelblue;
    color: white;
}


.box-alert {
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: flex;
    flex-direction: row;
    color: white;
}

.box-alert h3{
    background-color: steelblue;
    padding: 22px 20px;
    max-width: 600px;
}

.box-alert button{
    border: none;
    padding: 21px 20px 19px 20px;
    font-size: 20px;
    background-color: rgb(96, 158, 209);
    color: white;
    text-align: center;
    justify-content: center;
    transition: background-color .8s;
}

.box-alert button:hover{
    background-color: rgb(64, 141, 204);
    transition: background-color .8s;
}

.color-theme-text {
    color: steelblue;
}

.load-bar {
    z-index: 7;
    display: inline;
    flex-direction: column;
}

.load-bar-div {
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
    background-color: rgb(67, 125, 173);
}

.load-bar-div-deco {
    width: 100% !important;
    height: 20px !important;
    margin-top: -34px;
    margin-bottom: 0px;
    background-color: rgb(125, 187, 238);
}

.load-bar-div div{
    display: flex;
    align-content: center;
    background-color: rgb(67, 125, 173);
    padding: 8px;
}

.load-bar-div div h2 {
    font-size: 15px;
}

.load-bar-div div svg {
    margin-right: 5px;
    color: white;
}

.load-bar-div button {
    background-color: rgb(247, 147, 136);
    padding: 0px 10px 0px 10px !important;
    color: white;
}

.load-bar-div button:hover {
    background-color: rgb(243, 112, 97) !important;
}

.load-bar-div-void {
    width: 100%;
    height: 25px;
}

.load-bar-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 6;
}

.table-commits {
    margin-top: 15px;
    border-spacing: 0;
    border: steelblue 2px solid;
    border-left: none;
    display: inline-table;
    width: 100%;
}

.table-commits tr th{
    color: white;
    background-color: rgb(98, 167, 224);
    border-left: steelblue 2px solid;
    padding: 5px;
}

.table-commits-thead{
    border: steelblue 2px solid;
}

.table-commits-tr:hover td {
    background-color: rgb(98, 167, 224, 0.1);
    cursor: pointer;
}

.table-commits-tr-td{
    border-left: steelblue 2px solid;
    border-top: steelblue 2px solid;
}

.table-commits-tr-td-text {
    text-align: center;
}

.table-commits-tr-td-img img{
    padding: 10px;
    padding-bottom: 8px;
    height: 50px;
    width: 50px;
    border-radius: 45px;
}

.table-commits-tr-td-img-text {
    border-left: none;
}

.table-id {
    padding: 8px;
    width: 50px;
}

.table-file {
    padding: 8px;
    width: 150px;
}

.table-img {
    width: 8px;
}

.table-author {
    padding: 8px;
    width: 150px;
}

.table-alt {
    padding: 8px;
    width: 100px;
}

.table-date {
    padding: 8px;
    width: 100px;
}

.table-msg {
    padding: 8px;
}

.painel-div {
    right: 23px;
    top: 37px;
    position: absolute;
    z-index: 5;
}

.painel-div button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    font-size: 0px;
    width: 50px;
    height: 50px;
    border-radius: 60px;
}

.painel-div svg{
    margin-left: 16px;
}

.painel-div:hover svg{
    margin-left: 10px;
}


.painel-div h1{
    margin-right: 20px;
}

.painel-div:hover button{
    font-size: 10px;
    width: auto;
    border-radius: 0px;
    transition: width .5s, border-radius .5s, font-size .5s;
}

.table-page-control-div {
    display: flex;
}

.table-page-control-div button{
    background-color: currentColor;
    padding: 5px;
    display: flex;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-page-control-div input{
    background-color: steelblue;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    display: flex;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-page-control-div input:hover{
    background-color: whitesmoke;
    color: steelblue;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    display: flex;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-page-control-div button:hover{
    opacity: 0.8;
}

.rotate {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.form-create-class fieldset{
    padding: 8px 0px;
    margin: 20px 0px;
    border: none;
}

.form-create-class fieldset legend{
    font-weight: 700;
    font-size: 200%;
}

.multform-imput {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
}

.multform-imput label {
    display: flex;
    flex-direction: row;
    color: rgb(93, 151, 199);
}

.multform-imput label div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    padding-left: 0px;
}

.multform-imput label div p{
    font-size: 25px;
}

.multform-imput label svg {
    margin-right: 6px;
}

.multform-imput input {
    border: steelblue solid 3px;
    color: rgb(77, 151, 211);
    font-size: 20px;
    height: 30px;
    background-color: white;
    padding: 15px 5px 12px 5px;
    width: 350px;
}

.multform-imput-red label {
    display: flex;
    flex-direction: row;
    color: rgb(199, 93, 93) !important;
}

.multform-imput-red input {
    border: rgb(180, 70, 70) solid 3px !important;
    color: rgb(211, 77, 77) !important;
    font-size: 20px;
    height: 30px;
    background-color: white;
    padding: 15px 5px 12px 5px;
    width: 350px;
}

.multform-imput textarea {
    border: steelblue solid 3px;
    color: rgb(77, 151, 211);
    font-size: 20px;
    background-color: white;
    padding: 5px;
    min-height: 100px;
    min-width: 350px;
    height: 175px;
    width: 580px;
    max-width: 780px;
    max-height: 250px;
}

.multform-imput-button-submit {
    display: inline-block;
    align-items: center;
    margin-right: 10px;
    border: steelblue 2px solid;
}

.multform-imput-button-submit button{
    border-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 12px;
    text-decoration: none;
    height: 35px;
    background-color: white;
    color: steelblue;
}

.multform-imput-button-submit:hover button {
    background-color: steelblue;
    color: white;
}

.slider-picker-color {
    margin-top: 20px;
    padding: 20px;
    width: 100%; 
    background: rgb(255, 255, 255); 
    border: 0px solid rgba(0, 0, 0, 0.25); 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px; 
    border-radius: 4px; 
    position: relative;
}