.dropzone {
    margin-bottom: 20px;
    width: 64%;
    display: flex;
    padding: 20px;
    background-color: rgb(239, 248, 255);
    color: steelblue;
    transition: background-color .8s, color .8s, border-radius .8s, border .8s;
}

.dropzone:hover {
    background-color: rgb(194, 228, 255);
    border-radius: 10px;
    color: rgb(40, 92, 134);
    cursor: pointer;
}

.dropzone div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    border: currentColor 4px dotted;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color .8s, color .8s, border-radius .8s, border .8s;
}

.dropzone:hover div{
    border-radius: 10px;
}

.dropzone div p {
    margin: 0px 20px;
    font-size: 175%;
}

.dropzone div svg{
    margin: 8px;
}

.dropzone-red {
    margin-bottom: 20px;
    width: 64%;
    display: flex;
    padding: 20px;
    background-color: rgb(255, 239, 239);
    color: rgb(180, 70, 70);
    transition: background-color .8s, color .8s, border-radius .8s, border .8s;
}

.dropzone-red:hover {
    background-color: rgb(255, 194, 194);
    border-radius: 10px;
    color: rgb(134, 40, 40);
    cursor: pointer;
}

.legend-red {
    color: rgb(134, 40, 40);
}

.dropzone-red div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    border: currentColor 4px dotted;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color .8s, color .8s, border-radius .8s, border .8s;
}

.dropzone-red:hover div{
    border-radius: 10px;
}

.dropzone-red div p {
    margin: 0px 20px;
    font-size: 175%;
}

.dropzone-red div svg{
    margin: 8px;
}

.dropzone-image {
    margin-bottom: 20px;
    width: 64%;
    height: 290px;
    border: currentColor 4px dotted;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.dropzone-image:focus{
    box-shadow: none !important;
}

.dropzone-image:hover {
    cursor: pointer;
}

.dropzone-image div {
    height: 290px;
    overflow: hidden;
    border-radius: 10px;
}

.dropzone-image div img{
    width: 100%;
    height: 500px;
}

.template-list {
    list-style-type: none;
    width: 64%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.template-list li {
    margin: 2px;
}

.template-list li button {
    background-color: rgb(105, 172, 228);
    color: white;
    width: 75px;
    height: 35px;
    border: none;
    border-radius: 10px;
    transition: margin .8s, box-shadow .8s;
}

.template-list li button:hover {
    box-shadow: 0 5px 5px 0 rgba(70, 130, 180, 0.4), 0 3px 3px 0 rgba(70, 130, 180, 0.8);
    margin: 0px 4px;
}

.template-list-reset button{
    background-color: rgb(228, 105, 105) !important;
}

.template-list-reset button:hover{
    box-shadow: 0 5px 5px 0 rgba(228, 105, 105, 0.4), 0 3px 3px 0 rgba(228, 105, 105, 0.8) !important; 
}