* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font: 400 14px Roboto, sans-serif;
    background-color: white;
    -webkit-font-smoothing: antialiased;
}

Routes {
    height: 88vh;
}

h1, h2, h3, h4, h5, h6, img, svg {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    -o-user-select:none;
    user-select:none;
}

p {
    font-size: 150%;
}

button, a {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.div-global-page-dooble {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 88vh;
}

.div-global-page {
    display: inline-block;
    color: steelblue;
    flex-direction: column;
    padding: 25px;
    height: 88vh;
}

.with-scroll {
    display: flex;
    overflow-y: scroll;
}

.div-global-page-2 {
    display: inline-block;
    flex-direction: column;
    color: rgb(118, 193, 255);
    max-height: 88vh;
}

.div-global-page-2 img{
    margin: 50px 75px 100px 75px;
    width: 400px;
}

.header-is-auth {
    margin-left: 46px;
    height: 96vh;
}

.warning-session-title {
    color: white;
    background-color: rgb(180, 70, 70);
    margin: 10px 0px;
}

.warning-session-title h1{
    font-size: 125%;
    text-align: center;
    padding: 8px 10px 6px 10px;
}

.first-title-page {
    font-size: 200%;
    margin-top: 0 !important;
    text-align: start !important;
}

.first-subtitle-page {
    margin-bottom: 35px;
    margin-right: 57px;
    text-align: justify !important;
    margin-top: 2px;
    font-size: 125%;
    font-weight: 500;
}

.global-loading-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96vh;
}

.global-loading-page-letters {
    display: flex;
    font-size: 250%;
    font-weight: 600;
}

.global-loading-page-letters div {
    color: white;
    background-color: steelblue;
}

.global-loading-page-letters #c-1 {
    color: steelblue;
    background-color: transparent;
    margin-top: 10px;
    animation: letter-action 1s linear .1s infinite;
}
.global-loading-page-letters #l-1 {
    margin-top: 10px;
    animation: letter-action 1s linear .2s infinite;
}
.global-loading-page-letters #a-1 {
    margin-top: 10px;
    animation: letter-action 1s linear .3s infinite;
}
.global-loading-page-letters #s-1 {
    margin-top: 10px;
    animation: letter-action 1s linear .4s infinite;
}
.global-loading-page-letters #s-2 {
    margin-top: 10px;
    animation: letter-action 1s linear .5s infinite;
}
.global-loading-page-letters #w-1 {
    margin-top: 10px;
    animation: letter-action 1s linear .6s infinite;
}
.global-loading-page-letters #o-1 {
    margin-top: 10px;
    animation: letter-action 1s linear .7s infinite;
}
.global-loading-page-letters #r-1 {
    margin-top: 10px;
    animation: letter-action 1s linear .8s infinite;
}
.global-loading-page-letters #k-1 {
    margin-top: 10px;
    animation: letter-action 1s linear .9s infinite;
}

@keyframes letter-action {
    0% {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    50% {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    100% {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}
