.sector:hover {
    cursor: pointer;
}

.piechart-div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.details-pie {
    font-size: 100%;
}

.details-pie-title {
    font-weight: 600;
    font-size: 150%;
}

.details-pie-percent {
    font-size: 100%;
}

.pie-cell {
    border: none;
}

.piechart-div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    border-left: steelblue 5px solid;
}

.piechart-div-title div{
    margin-bottom: 10px;
}

.piechart-title {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-size: 35px;
}

.piechart-detail {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 125%;
}

.timeline-areachart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

.timeline-areachart-2 {
    display: flex;
    flex-direction: row;
}

.areacharts-first {
    width: 100%;
    height: 200px;
}

.tooltip-additions {
    color: rgb(91, 197, 106);
}

.tooltip-deletions {
    color: rgb(197, 148, 91);
}

.custom-tooltip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: currentColor 2px solid;
}

.custom-tooltip img{
    border: currentColor 2px solid;
    align-self: start;
    margin-top: 3px;
    width: 45px;
    height: 45px;
}

.custom-tooltip div{
    padding-left: 8px;
    max-width: 350px;
}

.custom-tooltip div h3{
    font-weight: 600;
}

.custom-tooltip div h3+h4{
    font-weight: 500;
}

.custom-tooltip div h3+h4+h4{
    color: black;
    font-size: 87%;
    font-weight: 600;
}

.commmits-chart-title {
    text-align: center;
    margin-top: 35px;
    font-size: 200%;
}

.commmits-chart-subtitle {
    text-align: center;
    margin-top: 2px;
    font-size: 125%;
    font-weight: 500;
}

.first-commmits-chart-title {
    margin-top: 10px;
}