* {
    transition: box-shadow .5s;
}

.shadow:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 5px 15px 0 rgba(0, 0, 0, 0.6);
}

.shadow-theme:hover {
    box-shadow: 0 5px 5px 0 rgba(70, 130, 180, 0.5),0px 5px 15px 0 rgba(70, 130, 180, 0.6);
}

.shadow:focus {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 5px 15px 0 rgba(0, 0, 0, 0.6);
}

.shadow-theme:focus {
    box-shadow: 0 5px 5px 0 rgba(70, 130, 180, 0.5), 0 5px 15px 0 rgba(70, 130, 180, 0.6);
}

.shadow-theme-radius-35 {
    box-shadow: 0 5px 5px 0 rgba(70, 130, 180, 0.5), 0 5px 15px 0 rgba(70, 130, 180, 0.6);
    border-radius: 35px;
}

.shadow-theme-scroll::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 5px 5px 0 rgba(70, 130, 180, 0.4), 0 5px 15px 0 rgba(70, 130, 180, 0.8);
}

.shadow-theme-lit:hover {
    box-shadow: 0 5px 5px 0 rgb(170, 213, 248, 0.5),0px 5px 15px 0 rgba(152, 208, 253, 0.6);
}

.shadow-theme-lit-red:hover {
    box-shadow: 0 5px 5px 0 rgb(180, 70, 70, 0.5),0px 5px 15px 0 rgb(180, 70, 70, 0.6);
}

.shadow-theme-lit-current-color:hover {
    box-shadow: 0 4px 4px 0 currentColor, 0px 3px 3px 0 currentColor;
}

.shadow-theme-red:hover {
    box-shadow: 0 5px 5px 0 rgba(180, 70, 70, 0.5),0px 5px 15px 0 rgba(180, 70, 70, 0.6);
}

.no-focus-shadow-theme:focus {
    box-shadow: none;
}